.site-footer {
	background-color: rgb(186, 113, 12);
}

.site-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: 20px;
}

.contact {
    display: flex;
}

.site-info a {
    color: rgb(255, 255, 255);
}

.site-info p {
    color: rgb(255, 255, 255);
}